/* === Layout global === */
html {
  overflow-x: hidden;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--bg-900);
  color: var(--text-100);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial;
}

/* Contenido principal */
main {
  min-height: calc(100vh - 200px);
  width: 100%;
  background: var(--bg-900);
}